.top-navbar {
    background-color: #A01D2A;
    border-bottom: 4px solid #FFC300;
}

    .top-navbar a {
        color: white;
    }

        .top-navbar a:hover,
        .top-navbar a.active {
            color: #FFC300;
            border-bottom: 2px solid #FFC300;
        }
